#bloc-page {
    width: 100%;
    height: 100vh;
    //background: rgba($color: $black, $alpha: 0.3);
    display: flex;    
    font-family: 'Montserrat', sans-serif;
    color: $white;
}

// Main = conteneur onglet
main {
    width: 75%;
    min-height: 100vh;
    padding: 2rem;
    overflow-y: auto;
    
}

.topbar {
    width: 100%;
    height: 10%;
}

.onglet {
    width: 100%;
    height: 90%;
}