// Colors :

$white: #FFFFFF;
$black: #000000;
$black-transparent: rgba(0, 0, 0, 0.8);
$orange: #aa3916;


$light-grey: #a7a7a7;
$light-grey2: #d8d8d8;

$primary-color: #a80000;
$secondary-color: #a80000;
$tercary-color: #a80000;

$transition-time: 0.3s;
$ombre1: 0.2rem  0.2rem  0.2rem rgba($white, 0.2);
$ombre2: 0.25rem  0.25em  0.3em rgba($light-grey, 0.4);