// Colors :

$white: #FFFFFF;
$black: #000000;
$black-transparent: rgba(0, 0, 0, 0.8);
$orange: #eb6c31;


$light-grey: #a7a7a7;
$light-grey2: #d8d8d8;

$primary-color: #eb6c31;
$secondary-color: #b39c53;
$tercary-color: #9b7700;

$transition-time: 0.3s;
$ombre1: 0.2rem  0.2rem  0.2rem rgba($white, 0.2);
$ombre2: 0.25rem  0.25em  0.3em rgba($light-grey, 0.4);