//A-side
aside {
    position: fixed;
    width: 25vw;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 1rem;
    background: rgba(0, 0, 0, 0.5);
    border-right: 1px solid #ffffff31;
    box-shadow: 0px 10px 10px $black;
    //border-right: 2px $orange ridge;
    & ul {
        list-style: none;
    }
    @include responsive(tab-port){
        position: fixed;
        height: 8rem;
        width: 100vw;
        padding: 0.5rem;
        transition: 0.5s;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: 0px 5px 5px $black;
        background: #1a1a1a;
        z-index: 100;
    }
    @include responsive(phone){
        height: 7rem;
    }
}

.menu__button {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.5rem;
    display: none;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    z-index: 100;
    @include responsive(tab-port){
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
        float: right;
    }
}

// Logo Mathieu Mercier, développeur web
.title {
    padding: 1rem 0;
    text-align: center;
    &__name {
        color: $light-grey;
        font-family: 'Saira Stencil One', cursive;
        font-size: 2rem;
        letter-spacing: 0.20rem;
        &--color {
            color: $orange;
        }
        @include responsive(phone){
            font-size: 1.2rem;
        }
    }
    &__description {
        color: $white;
        font-size: 0.9rem;
        font-family: 'Orbitron', sans-serif;
        letter-spacing: 0.7rem;
        padding-left: 0.4rem;
        margin-top: -0.2rem;
        @include responsive(phone){
            font-size: 0.6rem;
            letter-spacing: 0.53rem;
        }
    }
    @include responsive(tab-port){
        padding: 0.5rem 0;
        order: 2;
    }
    
}

// Photo
.portrait {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: 2rem 0;
    border: 3px solid $light-grey;
    @include responsive(tab-port){
        border-radius: 0.5rem;
        height: 4rem;
        width: 4rem;
        margin: 0 0;
        order: 1;
    }
    @include responsive(phone){
        border: 1px solid $light-grey;
        height: 3rem;
        width: 3rem;
    }
    
}

nav {
    padding: 1rem 0 0 0;
    @include responsive(tab-port){
        padding: 0;
        order: 4;
    }
}

nav ul {
    @include responsive(tab-port){
        display: flex;
        width: 100vw;
        justify-content: space-around;
    }
}

//Liste  de navigation
nav li {
    text-align: center;
    margin: 0.5rem 0;
    font-family: 'Saira', sans-serif;
    font-size: 1.2rem;
    @include responsive(tab-port) {
        font-size: 1.2rem;
        
    }
    @include responsive(phone) {
        font-size: 1.2rem;
    }
    & a {
        color: $light-grey;   
        transition: all 0.3s ease-in-out;
        position: relative;
    }
}

nav li:not(.active):hover {
    & a {
        color: $white;
        &:after {
            content: '>';
            position: absolute;
            top: 0;
            right: -20px;
            left: 100%;
            bottom: 0;
            color: $orange;
            font-weight: bolder;
            text-align: right;
            @include responsive(tab-port) {
                content: '';
                
            }
        }
    }
}

nav .active{
    color: $white;
}

//Socials
.nav__socials {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 0 0;
    color: $light-grey;
    font-size: 1.5rem;
    @include responsive(tab-port) {
        padding: 0.5rem 0 0 0;
        order: 3;
        width: 20%;
    }
    & a {
        transition: all 0.3s ease-in-out;
        color: $light-grey;
    }
}

.nav__socials {
    & a:hover {
        transform: scale(1.2);
        color: $orange;
    }
    
}